// Colors

//pallette 1 
$background: #7f8489
$background-dark: #5d6062
$background-darker: darken($background-dark, 10%)
$accent: #35578b
$accent-light: #326597
$accent-lighter: #5d7893
$text-light: lighten($background-dark, 40%)
$accent-lightest: #5d7893

$background-alt: #d1d1d1


$dark-grey: #2f2e2e

// Breakpoints
$max-screen-width: 1400px


// Mixins

@mixin roboto()
    font-family: 'Roboto', 'sans-serif'
@mixin roboto-condensed()
    font-family: 'Roboto Condensed', 'monospace'
@mixin line-clamp($num)
    overflow: hidden
    display: -webkit-box
    line-clamp: $num
    -webkit-line-clamp: $num
    -webkit-box-orient: vertical